@import 'variables';

h1 {
    color: $color;
    padding: 4px;
    text-align: center;
    font-size: 56px;
}

.card-course-item {
    margin-top: 16px;
}

.user-avatar {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 4px;
}

.dropdown-content {
    margin-top: 7px;
    transform: translateX(-15%);
}

.thumbnail-card {
    width: 100%;
    padding-top: 56.25%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
